@page "/ViewSinglePost/{id:int}"
@using Domain.DTOs
@using Domain.Models
@using BlazorWASM.Pages.Components
@using HttpClients.ClientInterfaces

@inject IPostService postService


    @if (postDTO == null)
    {
        <label>Loading post data..</label>
    }
    else
    {
        
        <PostCard Title="@title"  UserName="@userName" ItemId="@id" Content="@content" editAllowed="true"/>
    }
    @if (!string.IsNullOrEmpty(msg))
    {
        <label style="color: red">@msg</label>
    }





@code {
    [Parameter]
    public int Id { get; set; }

    private string content;
    private string title;
    private string userName;
    private int id;

    private PostBasicDto postDTO;
    private string msg = "";
    
    
    protected override async Task OnInitializedAsync()
    {
    // This method will be invoked when the page is first initialized.
        await LoadPosts();
    }

    private async Task LoadPosts()
    {
        try
        {
            postDTO = await postService.GetByIdAsync(Id);

            content = postDTO.Content;
            title = postDTO.Title;
            userName = postDTO.OwnerName;
            id = postDTO.Id;

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }



}