@using Microsoft.AspNetCore.Components
@using HttpClients.ClientInterfaces
@namespace BlazorWASM.Pages.Components
@inject IPostService postService
@inject NavigationManager navMgr

<div class="border border-dark postCard padded">
    <div class="padded">
        <h3>@Title</h3>
        <p class="timestamp">@TimeStamp</p>
        <p>By @UserName</p>
        <p>@Content</p>
        @if (editAllowed) {
        <div>
            <a href="/EditPost/@ItemId"><button class="editBtn btn btn-success">Edit</button></a>
        </div>
        }
        @if (deleteAllowed) {
            <div>
                <button class="deleteBtn btn btn-success" @onclick="@(() => Delete(ItemId))">Delete</button>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public int? ItemId { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? UserName { get; set; }
    [Parameter] public string? Content { get; set; }
    [Parameter] public string? TimeStamp { get; set; }

    [Parameter] public bool editAllowed { get; set; } = false;
    [Parameter] public bool deleteAllowed { get; set; } = false;
    public string msg = "";
    
    private async Task Delete(int? id)
    {
        try
        {
            await postService.DeleteAsync(id);
            navMgr.NavigateTo("/ViewPosts");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    } 


}